<?xml version="1.0" encoding="utf-8" ?>
<customConfiguration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Locator="XPath(/customConfiguration)">
  <Section1>
    <Property1 value="value1ForRelease" xdt:Transform="SetAttributes(value)"/>
  </Section1>
  <Section2>
    <CollectionProperty xdt:Transform="Replace">
      <add key="1" value="82"/>
      <add key="10" value="9283"/>
      <add key="102" value="273"/>
    </CollectionProperty>
  </Section2>
</customConfiguration>