<?xml version="1.0" encoding="utf-8"?>
<customConfiguration>
  <Section1>
    <Property1 value="value1"/>
    <Property2 value="value2"/>
    <PropertyObject>
      <Property1 value="value3"/>
      <Property2 value="value4"/>
    </PropertyObject>
  </Section1>
  <Section2>
    <CollectionProperty>
      <add key="1" value="6046"/>
      <add key="10" value="131506"/>
      <add key="102" value="1149091"/>
    </CollectionProperty>
  </Section2>
</customConfiguration>