<?xml version="1.0" encoding="utf-8" ?>
<customConfiguration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Locator="XPath(/customConfiguration)">
  <Section1>
    <Property1 value="value1ForDebug" xdt:Transform="SetAttributes(value)"/>
    <PropertyObject xdt:Transform="Replace">
      <Property1 value="value3ForDebug"/>
      <Property2 value="value4ForDebug"/>
    </PropertyObject>
  </Section1>
</customConfiguration>